{% extends "blog/base.html" %}
{% block title %}SQLzilla About Us{% endblock %}
{% block content %}
<div class="col-md-8">
    <h1>SQLzilla Services is a SQL/Oracle Consulting firm founded in 1993 in Sheepshead Bay, NYC. We offer a wide variety of services that include database design and creation, SQL Server Integration, report-writing consulting, and more. Our Mission: SQL is great, we plan to spread the power of it with the highest quality consulting at reasonable prices. Core values - To lead in consulting with the highest quality training...guaranteed.</h1>
</div>
{% endblock content %}